<div class="rutas-index">

    {{#each maps}}
    <div class="ruta" id="ruta{{@index}}">
        {{!-- <a href="/maps/{{_id}}" target="_blank"> {{city}} </a> --}}
        <img src="img/clock.svg" alt="clock" />
        <a href="/turnos/{{_id}}"> Ruta No. {{@index}} </a>
        {{!-- <a href="/maps/{{_id}}" target="_blank"> Ruta No. {{@index}} </a> --}}


    </div>

    {{/each}}
</div>